<html>
    <head>
        <title>RedisTasks</title>
        <link rel="stylesheet" href="https://bootswatch.com/3/cerulean/bootstrap.min.css">
        <style>
            .task-list{
                list-style : none;
            }
            .del:checked + span{
                color : red;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse ">
            <div class="container">
                <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">RedisTasks</a>
                <div>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto">

                    </ul>
                </div><!--/.nav-collapse-->
            <div>
        </nav>
        <div class="container">
            <form method="post", action="/task/add">
                <label>Add Task</label>
                <input type="text" name="task" placeholder="Add Task">
                <input type="submit" value="Submit">
            </form>

            <h3><%= title %></h3>

            <form method="post", action="/task/delete">
                <ul class="task-list">
                <% tasks.forEach(function(task){ %>
                    <li>
                        <label>
                            <input type="checkbox" name="tasks" class="del" value="<%=task %>"
                            <span>
                                <%= task %>
                            </span>
                        </label>
                    </li>
                <% }) %>
                </ul>
                <input type="submit" value="Remove">
            </form>

            <div class="well">
                <h3>Next Business Call</h3>
                Name: <%= call.name %><br>
                Company: <%= call.company %><br>
                Phone: <%= call.phone %><br>
                Time: <%= call.time %>
            </div>
            <div class="well">
                <h3>Edit Next Call</h3>
                <form method="post", action="/call/add">
                    <label>Contact Name</label><br>
                    <input type="text" name="name" placeholder="Task Name">
                    <br><br>
                    <label>Company</label><br>
                    <input type="text" name="company" placeholder="Company">
                    <br><br>
                    <label>Phone</label><br>
                    <input type="text" name="phone" placeholder="Phone">
                    <br><br>
                    <label>Day & Time</label><br>
                    <input type="text" name="time" placeholder="Time">
                    <br><br>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </body>
</html>
